<sergey-import src="template">
 <section class="hero">
   <div class="wrapper">
      <img class="site-branding" src="img/brand.svg">
      <h1>La herramienta que necesitas para vender sin complicaciones.</h1>
      <p class="subtitle">Vende asesorías, cursos y productos digitales a tu comunidad fácil y sin rollos. Todas las herramientas esenciales para vender en tu computadora o smartphone.</p>
      <form class="opt-in">
         <input type="email" placeholder="email@gmail.com">
         <button>Registrarme</button>
      </form>
      <p class="form_desc">Únete a la lista de espera para obtener acceso exclusivo.</p>
   </div>
</section>
<section class="features">
   <div class="wrapper">
      <div class="grid">
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_purple">
                  <img class="feature--icon" src="img/icon01.svg">
                  <span>Productos Digitales</span>
               </div>
               <p class="feature--desc">
                  Vende lo que sea, desde cursos digitales hasta suscripciones y libros digitales.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_red">
                  <img class="feature--icon" src="img/icon02.svg">
                  <span>Coaching</span>
               </div>
               <p class="feature--desc">
                  Ofrece tu servicio de caching y gestiona las sesiones desde el calendario integrado.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_yellow">
                  <img class="feature--icon" src="img/icon03.svg">
                  <span>PRODUCTOS FÍSICOS</span>
               </div>
               <p class="feature--desc">
                  Vende productos físicos a tu comunidad y expande tu fuente de ingresos.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_orange">
                  <img class="feature--icon" src="img/icon04.svg">
                  <span>PAGOS LOCALES</span>
               </div>
               <p class="feature--desc">
                  Ofrece tus productos a nivel mundial y permite métodos de pago locales como transferencia bancaria.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_purple">
                  <img class="feature--icon" src="img/icon05.svg">
                  <span>SITIOS WEB</span>
               </div>
               <p class="feature--desc">
                  Crea tu sitio web con plantillas de diseño moderno y de alta velocidad para promover ventas.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_yellow">
                  <img class="feature--icon" src="img/icon06.svg">
                  <span>GESTIONA DESDE TU SMARTPHONE</span>
               </div>
               <p class="feature--desc">
                  Con nuestra app podrás gestionar tus ordenes, clientes, cupones y mucho más.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_red">
                  <img class="feature--icon" src="img/icon07.svg">
                  <span>EMAIL MARKETING</span>
               </div>
               <p class="feature--desc">
                  Envía campañas de correo electrónico a tu comunidad para promover tus productos.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_purple">
                  <img class="feature--icon" src="img/icon08.svg">
                  <span>ANALÍTICAS</span>
               </div>
               <p class="feature--desc">
                  Enterate de lo que está pasando en tu negocio con métricas entendibles y sin enredos.  
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_yellow">
                  <img class="feature--icon" src="img/icon09.svg">
                  <span>COBRA COMO TE CONVENGA</span>
               </div>
               <p class="feature--desc">
                  Ofrece a tus clientes suscripciones, pago en plazos o pagos únicos en tus productos.
               </p>
            </div>
         </div>
         <div class="col-6_sm-12">
            <div class="feature_block">
               <div class="feature--title feature_orange">
                  <img class="feature--icon" src="img/icon10.svg">
                  <span>PAGOS EN CRIPTOMONEDAS</span>
               </div>
               <p class="feature--desc">
                  Permite que tus clientes puedan obtener tus productos y servicios con criptomonedas como Bitcoin.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="cta">
   <div class="wrapper">
      <h2>Registra tu interés para obtener acceso prioritario.</h2>
      <form class="opt-in">
         <input type="email" placeholder="email@gmail.com">
         <button>Registrarme</button>
      </form>
   </div>
</section>
</sergey-import>
